<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413475314991-bg0n932ic1tf79rogap1vqdv0q9dobd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413475314991-bg0n932ic1tf79rogap1vqdv0q9dobd8</string>
	<key>API_KEY</key>
	<string>AIzaSyDqV9j0NW728hgV8fN6SOSCPPj-6LNFOVs</string>
	<key>GCM_SENDER_ID</key>
	<string>413475314991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.silverHeartBuy</string>
	<key>PROJECT_ID</key>
	<string>plata-app-d38e6</string>
	<key>STORAGE_BUCKET</key>
	<string>plata-app-d38e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413475314991:ios:c02176e6e9330cce6595da</string>
</dict>
</plist>